body {
    color: #E6D3BB;
    background-color: #584E41;
    font-family: "Uncial Antiqua";
    margin: 0px;
}

a {
    text-decoration: none;
    font-weight: bold;
}

a:link {
    color: #8D7E6C;
}

a:visited {
    color: #9B8B77;
}

a:hover {
    color: #AB9983;
}

select,input {
    border: 1px solid #FF0000;
    color: #D8BC8B;
    background-color: #94815F;
    border: 1px solid #665942;
    font-family: georgia,serif;
    padding: 2px;
    margin: 4px;
}

select {
    margin: 10px;
    min-width: 100px;
    max-width: 350px;
    vertical-align: middle;
}

#cf_ads {
    display: table;
    margin: auto;
    margin-bottom: 7px;
    text-align: center;
}

#head a:link {
    color: #BBA25D;
}

#head a:visited {
    color: #94804A;
}

#head a:hover {
    color: #EDCD76;
}

#head {
    background-color: #362F2A;
    padding: 4px;
    padding-bottom: 8px;
}
#logo {
    <img src="http://sanguisdraconis.thecomicseries.com/files/images/logo.png" alt="Sanguis Draconis">;
}
    
#sitetitle {
    margin: 0px;
    margin-left: 30px;
    font-family: "sans serif";
    font-variant: normal;
    letter-spacing: 2px;
    color: #FFEAA4;
}

#sitedesc {
    margin-left: 50px;
    width: 70%;
    font-family: "Uncial Antiqua";
    font-style: italic;
}

#banner {
    margin: 10px;
}

#menu {
    list-style: none;
    margin: 0px;
    text-align: right;
}
#menu li {
    display: inline;
    margin: 4px;
}

#contentwrap {
    border: 2px solid #362F2A;
    background-color: #887A69;
    margin: 30px;
    margin-bottom: 10px;
    padding: 2px;
    min-width: 660px;
}

#content {
    background-color: #E0D4C4;
    background-image: url('https://comicfury.com/images/layouts/l2bg.png');
    color: #51452C;
    padding: 10px;
    text-align: center;
}

.title, .subtitle {
    text-align: center;
    font-family: "Suplexmentary Comic NC", "Century Gothic","AppleGothic","MgOpen Modata","Avant Garde Gothic","Gill Sans","Gill Sans MT",sans-serif;
    background: #F0E6C9;
    border: 1px dashed #B2A997;
    border-width: 1px 0px;
    color: #887A69;
    padding: 2px;
    margin-bottom: 8px;
}

.subtitle {
    margin-left: 50px;
    margin-right: 50px;
}

.subcontent {
    margin-left: 55px;
    margin-right: 55px;
}

#footer {
    text-align: center;
    margin-bottom: 12px;
}

.titlesub {
    font-size: 12px;
    font-style: italic;
    margin-bottom: 6px;
}

/*comic page css*/

#comicimagewrap {
    margin-top: 0px;
    margin: 5px;
}

#comicimagewrap img {
    border: 1px solid black;
    max-width:70%;
    height:auto;
}

#votenumber {
    font-size: 12px;
    color: #91826F;
}

#ratelink {
    display: block;
}

.comment,.authornote {
    margin-bottom: 10px;
    margin-left: 30px;
    margin-right: 30px;
    font-family: "Suplexmentary Comic NC", "Century Gothic","AppleGothic","MgOpen Modata","Avant Garde Gothic","Gill Sans","Gill Sans MT",sans-serif;
}

.commentdata {
    padding: 3px;
    border: 1px solid #94815F;
    background-color: #D8BC8B;
    clear: both;
}

.authordata,.authordata a:link,.authordata a:visited {
    color: #645740;
    font-size: 17px;
    margin-right: 3px;
    font-weight: bold;
}

.postdate {
    font-style: italic;
    margin-right: 3px;
    color: #7F6E52;
}

.reply {
    margin-left: 60px;
}

.commentcontrol,.commentcontrol a:link,.commentcontrol a:visited {
    color: #BBA378;
}

.avatar {
    float: left;
    text-align: right;
    margin: 6px;
}

#comicnav {
    padding: 7px;
    padding-bottom: 2px;
}

#saveplace {
    padding-bottom: 9px;
}

.comicnavlink,.comicnavlink:link ,.comicnavlink:visited {
    margin: 10px;
    margin-top: 15px;
    border: 1px solid #665942;
    background-color: #94815F;
    color: #D8BC8B;
    padding: 7px;
    padding-top: 3px;
    padding-bottom: 3px;
    font-size: 24px;
}

.comicnavlink:hover {
    color: #94815F;
    background-color: #D8BC8B;
}

#permalinkbox {
    text-align: left;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom:6px;
}

.permalinkcode {
    font-size: 11px;
}

.comments,.authornotes {
    text-align: left;
}

.notecontent img {
    max-width:100%;
    height:auto;
}

.clear {
    clear: both;
}

/*error page*/

#errormessage {
    text-align: center;
}

/*blog archive*/
.blogs {
    text-align:left;
}

.blogmeta {
    text-align:right;
}

#pages {
    font-size:1.2em;
}

#pageslabel {
    margin-top:10px;
    font-weight:bold;
}

.currentpage {
    font-size:1.2em;
}

.blognav {
    margin-bottom:5px;
    display:table;
    width:100%;
}

.prevblog, .nextblog {
    display:table-cell;
    width:50%;
}

.prevblog {
    text-align:left;
    padding-left:30px;
}

.nextblog {
    text-align:right;
    padding-right:30px;
}

.blogarchivelink {
    margin-top:5px;
    margin-bottom:15px;
}
/*comic overview*/

#latestcomiclink {
    border: 0px;
    margin: 10px;
}

#latestcomiclink img {
    border: 1px solid black;
}

#latestcomictitle {
    font-weight: bold;
    font-size: 20px;
}

.overviewcommentlink {
    text-align:right;
    margin-right:10px;
}
